# ignore .git and .cache folders
node_modules
.git
.gitignore
.cache

logs
*.log

coverage
coverage-unit
coverage-e2e
.dockerignore
Dockerfile

# Compiled binary addons (http://nodejs.org/api/addons.html)
dist/
./test
.docker/.yarn-cache
docker-compose*

## Directory-based project format:
.idea/
.vscode/
.DS_Store